#content{
  background-color: #333333;
  width: 70%;
  margin: auto;
  height: 100%;

}

.card{
  background-color: #3f3f3f;
}

body{
  background-color: #0b0b0b;
}

h1{
  color: #00a2d9;
}

img {
  width:100px;
  height:100px;
}

h5{
  color: #e4e4e4;
}

#desc{
  color: #e4e4e4;
}

.card-link{
  color: #00a2d9;
}
