<body>
<bs-navigation></bs-navigation>
<article class="p-3" id="content">
  <h1>Repertoire</h1>
  <section class="d-flex flex-column gap-2">
    <div *ngFor="let movie of movies" class="card">
      <div class="card-body">
        <div class="row">
          <img src="assets/images/{{movie.image}}">
          <div class="row col-5">
            <h5 class="card-title">{{ movie.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ movie.director }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Duration: {{ movie.duration }} min</h6>
          </div>
        </div>
          <p class="card-text pt-3" id="desc">
            {{ movie.short_description }}
          </p>
          <a [routerLink]="[movie.id, 'details']" class="card-link">Details</a>
      </div>
    </div>
  </section>
</article>
</body>
