<body>
<ts-navigation></ts-navigation>
<article class="p-3" id="content">
  <h1>Choose your seat</h1>
  <div class="screen">SCREEN</div>
  <section class="d-flex flex-column gap-2">
    <div *ngFor="let row of rows">
      <section class="hall">
        <p>{{row.row_name}}</p>
        <div *ngFor="let f of [].constructor(row.number_of_seats); let r = index">
        <label class="seat">
          <input type="radio" (click)="selectSeat$.next(row.row_name + (r + 1))">
          <span class="checkmark">{{r + 1}}</span>
        </label>
        </div>
      </section>
    </div>
    <ng-container *ngIf="selectedMessage$ | async as message">
      <p>Selected: {{message}}</p>
      <button type="button" class="btn btn-dark">Buy</button>
    </ng-container>
  </section>
</article>
</body>
