mat-icon {
  vertical-align: middle;
}

h1 {
  color: #00a2d9;
}

h2 {
  color: #00a2d9;
}

p {
  color: #e4e4e4;
}


#content{
  background-color: #333333;
  width: 70%;
  margin: auto;
  height: 100%;

}

body{
  background-color: #0b0b0b;
  min-width: 600px;
  width: 100%;
  height: 100vh;
}

button{
  color: #e4e4e4;
}

h1{
  color: #00a2d9;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  align-self: flex-start;
}

