<body>
<bs-navigation></bs-navigation>
<article class="p-3" id="content">
  <section class="d-flex flex-column gap-2">
    <a class="col-1" [routerLink]="['/movies']">
      <button type="button" class="btn"><mat-icon>keyboard_arrow_left</mat-icon> </button>
    </a>

    <h1>{{movie?.title}} </h1>
    <p> Director: {{movie?.director}}</p>
    <p> Duration: {{movie?.duration}} min</p>
    <p>{{movie?.description}}</p>
    <h2>Choose screening date:</h2>
    <bs-calendar></bs-calendar>
  </section>
</article>
</body>


