.container{
  display: flex;
  justify-content: space-between;
}
a{
  display: flex;
  justify-content: center;
  align-self: center;
  align-content: center;
}

.week-view {
  background-color: brown;
  color: #00abcd;
}

button{
  color: #e4e4e4;
}

