<body>
<ts-navigation></ts-navigation>
  <article class="p-3" id="content">
<h2>Login</h2>
<form  (ngSubmit)="login()">
  <div class="form-group">
    <label for="username" class="p-2">Username:</label>
    <input class="form-control p-2" id="username" type="text" [(ngModel)]="username" name="username" required>
  </div>
  <div>
    <label for="password" class="p-2">Password:</label>
    <input class="form-control p-2" id="password" type="password" [(ngModel)]="password" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Login</button>
</form>
    <div *ngIf="!succesfullLogin" class="p-4" id="incorrect">
      Incorrect username or password!
    </div>
</article>
</body>
